---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/CardPost.astro";
const allPosts = await getCollection("posts");
const pageTitle = "Posts";
---

<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonNotesGif" src="/blog.webp" />
    </div>
    <h2>Blog</h2>
    <p>Vous pouvez écrire vous aussi un article dans ce blog pour faire un retour d'expérience qui s'est bien ou mal passé ou tout autre sujet que vous pensez utile à partager aux membres de l'association et au reste du monde.</p>
    <p>Pour ce faire, envoyez votre article directement sur la mailing list et un modérateur le rajoutera au blog.</p>
    <ul role="list" class="link-card-grid">
        {
            allPosts.map((cardPost) => (
                <Card
                    url={`/posts/${cardPost.slug}/`}
                    image={cardPost.data.image.url}
                    title={cardPost.data.title}
                    date={cardPost.data.date}
                    tag={cardPost.data.tag}
                />
            ))
        }
    </ul>
</Layout>
